#myProfile {
    margin: 0;
    padding: 40px;
    display: flex;
    text-align: center;
    border: 2px solid $light;
    background-color: $light;
}

.profile-name {
   padding-top: 40px;
}

.profile-credit {
    font-weight: bold;
}

.profile-name,
.profile-email,
.profile-credit {
    margin: 25px;
}


.profile img {
    width: 400px;
    margin: 30px;
    border: 1px solid $dark;
}

#avatarUpdateForm {
    border: 2px solid $light;
    padding: 40px;
}

#avatarInput {
    max-width: 400px;
    margin: 30px auto;
}

.profileHistory {
    display: flex;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#profileListings,
#profileBids {
    flex: 1;
}

.card {
    margin: 30px;
    height: 400px;
}

.card img {
    width: 180px;
    height: 170px;
    border: 1px solid $dark;
}

@media (max-width: 800px) {

    .profileHistory {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 650px) {
    
    .profile img {
        width: 250px;
        margin: 10px;
    }
}

@media (max-width: 400px) {
    
    .profile img {
            width: 200px;
            margin: 0px;
        }
    .card {
        margin: 20px;
        height: 600px;
    }
}