#searchResults {
    background-color: $light;
    border-bottom: 2px solid $dark;
}

.search-results {
    height: 800px;
    overflow-y: auto;
    position: absolute;
    width: 750px;
    z-index: 1000;
    display: none;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid $light;
}

.result-container {
    margin: 40px;
    background-color: #fff;
    margin-bottom: 50px;

}

.result-container img {
    width: 200px;
}
