$primary: #BF8360;
$secondary: #182126;
$light: #D0D9D9;

.primary-bg,
.btn-primary {
    background-color: $primary;
}

.light-bg,
.btn-light {
    background-color: $light;
}

h1,
.nav-link {
    color: $secondary;
}
